body{
  font-family: 'Nova Mono', monospace;
  background-color: #a3ddcb;
  margin: 0;
  padding: 0;
  height: 100%;

}

.main-bar
{
  font-family: 'Iceberg', cursive;
  font-size: 16px;
  background-color: #2f89fc;

}

.main-box
{
  /* background-image: url("https://picsum.photos/id/1079/1369/500?grayscale");
  background-repeat: no-repeat; */
  font-size: 1rem;
  padding: 4rem;
  background-color: #a3ddcb;
}

.main-box h1
{
  font-family: 'Langar', cursive;

}

.main-box .content
{
  color: #fafaf6;
  font-family: 'Nova Mono', monospace;
  font-size: 2em;
  margin-top: 25px;
  margin-bottom: 25px;
}

.profile-image{
  width: 75%;
  height: 75%;
}

.bio-row
{
  padding-top: 3em;
  padding-bottom: 3em;
}

.skill-row
{
  background-color: #e97171;

}
.heading
{
  text-align: center;
}
.skill-image
{
  width: 10em;
  height: 10em;
}

.big-image
{
  width: 400px;
  height: 150px;
}

.skill-name{
  font-size: 2.5rem;
  color:#fafaf6;
  font-family: 'Nova Mono', monospace;
  height: 5rem;
  line-height: 5rem;

}
.hobbies
{
  margin: 16px 0 16px 0 16px;
  padding: 10em;
}

.hobbies p{
  font-size: 2em;
  color: white;
  font-family: 'Nova Mono', monospace;
  padding-left: 16px;
  padding-right: 16px;

}
.mail-link{
  color: black;
}

#skill-list
{
  list-style-type: none;
}

.skill-column
{
  text-align: center;
  margin: 10px 0 10px 0;
  padding: 20px;
}
.button-container
{
  margin: 10px;
}

.log-button
{
  margin: 10px;
}

.seperator
{ color: grey;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left:auto;
  border-top: 10px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-style: dotted;
  width: 10em;

}
header
{
  font-family: 'Iceberg', cursive;
  background-color: #2f89fc;
  font-size: 20px;
  height: 5em;
  line-height: 5em;
  margin: 0;
}

#titleOfPage
{
  position: relative;
  float: left;
  color: white;
  /* vertical-align: middle; */
  font-size: 3em;
  margin: 22px;
  font-family: 'Iceberg', cursive;
  }
#titleOfPage a:visited {
  color: white;
}

  /* mouse over link */
#titleOfPage a:hover {
  color: white;
  text-decoration: none;
  }

  /* selected link */
#titleOfPage a:active {
  color: white;
  }


navbar ul {
  font-family: 'Iceberg', cursive;
  font-size: 20px;
  list-style-type: none;
  text-align: right;
  background-color: #2f89fc;
  height: 5em;
  line-height: 5em;
  margin: 0;
}

navbar ul li {

  display: inline;
  padding: 1.3em;
  vertical-align: middle;
}

navbar ul li a{
 color: white;
  text-decoration: none;
  vertical-align: middle;
}

navbar ul li a:hover{

  color: #fffafa;
}


.footer{
  color: white;
  background-color: #40514e;
  text-align: center;
  height: 5em;
  line-height: 5em;

}

/* about */

.stan-container
{
  min-height: 100%;
  position: relative;
}
.stan-header{
  padding: 10px;
}

.stan-body{
  /* padding: 10px; */
  padding-bottom: 5em;
}

.stan-footer
{
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #40514e;
  text-align: center;
  height: 5em;
  line-height: 5em;

}
.stan-heading
{
  margin-bottom:  3.5rem;
}

.sub-heading
{
  font-size: 2em;
  font-family: 'Nova Mono', monospace;
  color: black;
  font-weight: bolder;
  text-align: center;
}

#carouselExampleControls
{
  /* position: relative; */
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 500px;
}

.sub-content
{
  font-size: 1.8em;
  font-family: 'Nova Mono', monospace;
  color: white;
  text-align: left;
}
.row
{
  overflow:hidden;
}
#nav-btn{
  display: none;
}

/* resume section */

#resume{
  margin-left: auto;
  margin-right: auto;
}

.detail-heading
{
  font-size: 3em;
  font-weight: bolder;
}

.contact-btns{
  color: black;
  font-size: 3em;
}
.contact-rows
{
  margin: 3rem;

}
#resume-section-1{

  display: block;
}
#resume-section-2{
  display: none;
}

/* media queries */

@media screen and (max-width: 768px)
{
    #nav-list{
      display: none;
    }

    /* .main-box{
      font-size: 75%
    } */
    .profile-image
    {
      width:75%;
      height: 75%;
    }
    .big-image{
      width: 50%
    }
    .skill-name{
      font-size: 3em;
      /* overflow: visible; */
    }
    .row{
      overflow: visible;

    }
    #python{
      margin-top: 4rem;
    }
    #nav-btn{
      display: block;
      float: right;
      color: black;
      background-color: #2f89fc;
      margin-right: 16px;
    }
    .menu-items{
      font-size: 32px;
      color: black;
    }

    #carouselExampleControls{
      width: 200px;
      height: 150px;
    }
    .size-rows{
      font-size: 1em;

    }
    .sub-heading{
      text-align: center;
    }
    .sub-content{
      text-align: center;
      margin: 20px;
    }
    #resume-section-1{
      display: none;
    }
    #resume-section-2{
      display: block;
    }
}
